<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
    <mat-form-field>
        <mat-label>Select an Event</mat-label>
        <mat-select [(value)]="bet.eventId">
            <mat-option *ngFor="let event of events" [value]="event.id"> {{ event.name }} </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Select an Market</mat-label>
        <mat-select [(value)]="bet.marketId" (selectionChange)="onMarketSelect()">
            <mat-option *ngFor="let market of markets" [value]="market.id"> {{ market.name }} </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Select an Outcome</mat-label>
        <mat-select [(value)]="bet.posibleOutcome">
            <mat-option *ngFor="let outcome of posibleOutcomes" [value]="outcome"> {{ outcome.name }}({{outcome.probability}}) </mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field class="example-form-field">
        <input matInput type="text" placeholder="Amount" [(ngModel)]="bet.amount">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="true">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()">Save</button>
</mat-dialog-actions>

<ngx-loading [show]="loading"></ngx-loading>